@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: dimgray;
    margin: 0px;
}

header {
    background-color: white;
    padding: 10px;
    margin: 10px;
}

header > h1 {
    text-decoration: underline;
}

nav {
    background-color: darkgray;
    padding: 3px;
}

nav > a {
    text-decoration: none;
    color: white;
    font-weight: bolder;
    margin-right: 60px;
}

nav > a:hover {
    text-decoration: underline;
    color: black;
}

main {
    background-color: white;
    padding: 10px;
    margin: 10px;
}

article {
    background-color: lightgray;
    padding: 5px;
}

article > aside {
    background-color: darkgray;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 1px;
}

